.vaga-container {
    position: relative;
}

.vaga-header,
.vaga-container {
    border: 1px solid #fdfdfd;
    background: #fdfdfd;
    box-shadow: 0 0 10px #ccc;
}

.vaga-container,
.vaga-header li,
.vaga-req,
.vaga-req li {
    margin: .5rem;
}


.vaga-header li:last-child {
    position: absolute;
    right: 0;
    top: 0;
}

.hidden {
    margin: 0;
    height: 0px;
    overflow: hidden;
}

.vaga-header,
.vaga-container,
button {
    border-radius: 10px;
}

button {
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

.vaga-req {
    position: relative;
}

@media only screen and (min-width: 900px) {
    .text {
        margin-bottom: 2rem;
    }
}