@media only screen and (min-width: 900px) {

    #personal-data {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .links ul {
        align-items: baseline;
    }

    #personal-data input,
    #personal-data select,
    .links,
    form span {
        width: 40%;
        margin: 1.2rem 2.4rem 1.2rem 0;
    }

    .links ul {
        justify-content: space-between;
    }

    textarea {
        width: calc(80% + 2.4rem);
    }

    .links:last-child:nth-child(odd),
    textarea + .links {
        width: calc(80% + 2.4rem);
    }

}